html {
  /*font-family: Arial;*/
  display: inline-block;
  margin: 0px auto;
  text-align: center;
  width: 600px;
  /*border: 1px double black;*/
  /*background: red;*/ /* Цвет фона */
}
body {font-family: Arial;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.chart-container {
  height: 320px;
}

.highcharts-container{
  width: 100% !important;
}

.highcharts-root{
  width: 100% !important;
}

.highcharts-title {
    fill: #434348;
    font-weight: bold;
    /*letter-spacing: 0.3em;*/
    font-size: 14px !important;
}

.highcharts-subtitle {
    font-family: "Courier New", monospace;
    font-style: italic;
    fill: #7cb5ec;
}

.highcharts-caption {
    font-family: "Courier New", monospace;
    font-style: italic;
    fill: green;
}

* {
    padding: 0;
    margin: 0;
  }
.fit { /* set relative picture size */
  max-width: 100%;
  max-height: 100%;
}
.center {
  display: block;
  margin: auto;
}
		
table.fixed-table
{
  width:100%; 
  table-layout:fixed;
}
 
table.fixed-table td
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
 
/*Don't forget to set the width for td or th (should apply to the first row) */
table.fixed-table td.descr
{
  width:43%;
}
table.fixed-table td.descr2
{
  width:57%;
}
